    <!-- start Selector bar  -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-group" id="accordionTop">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#topCollapse" class="company-selection app-accordion">
                         <span class="glyphicon glyphicon-minus"></span> Company selection
                        </a>
                      </h4>
                    </div>
                    <div id="topCollapse" class="panel-collapse collapse  ">
                      <div class="panel-body">
                        <p>Welcome to the Competitive Analysis Tool (CAT). Please select the companies you would like to view below.</p>
                        <p>  
                        <% @companies.each do |company| %>

                          <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox-<%= (company.name).gsub(' ', '-') %>" value="<%= (company.name).gsub(' ', '-') %>"  ><%= company.name %>
                          </label>

                        <% end %>

                        </p>
                        <p>
                          <span class="new-company"><%= link_to 'Add a company', new_company_path %></span> 
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Selector bar  -->

    <!-- start Company display table  -->

    <div class="container">
      <div class="row">
        
        <% @companies.each do |company| %>

        <div id="panel-<%= (company.name).gsub(' ', '-') %>" class="company-info col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-9">
                  <h4 class="company-title"> <%= company.name %>  </h4>
                  <div class="show-hide-control-group">  
                    <span id="<%= (company.name).gsub(' ', '-') %>-show" class="show-hide-control"><span class="glyphicon glyphicon-plus" title="Show all"></span></span>  
                    <span id="<%= (company.name).gsub(' ', '-') %>-hide" class="show-hide-control"><span class="glyphicon glyphicon-minus" title="Hide all"></span></span>
                  </div>
                </div>
                <div class="col-md-3 print-close" >

                  <%= link_to edit_company_path(company) do %><span class="glyphicon glyphicon-pencil" title="edit company information"></span><% end %>

		              <%= link_to company_path(company) do %><span class="glyphicon glyphicon-print" title="company print view"></span><% end %> 

                  <%= link_to company_path(company), method: :delete, data: {confirm: 'Are you sure?'} do %><span class="glyphicon glyphicon-trash" title="delete company"></span><% end %>

                  <span class="glyphicon glyphicon-remove-circle" title="close panel"></span>

                </div>
              </div> <!-- end row  --> 
              <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%= (company.name).gsub(' ', '-') %>-collapse1" class="app-accordion">
                        <span class="glyphicon glyphicon-minus <%= (company.name).gsub(' ', '-') %>-glyphicon"></span> Pricing information
                      </a>
                    </h4>
                  </div>
                  <div id="<%= (company.name).gsub(' ', '-') %>-collapse1" class="panel-collapse collapse  <%= (company.name).gsub(' ', '-') %>-collapse  ">
                    <div class="panel-body">                  
                      <%= company.pricing_information.html_safe %>
                    </div> 
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%= (company.name).gsub(' ', '-') %>-collapse2" class="app-accordion">
                        <span class="glyphicon glyphicon-minus <%= (company.name).gsub(' ', '-') %>-glyphicon"></span> Subject Matter Comparison
                      </a>
                    </h4>
                  </div>
                  <div id="<%= (company.name).gsub(' ', '-') %>-collapse2" class="panel-collapse collapse <%= (company.name).gsub(' ', '-') %>-collapse ">
                    <div class="panel-body">                      
                      <%= company.subject_matter_comparison.html_safe %>
                    </div> 
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%= (company.name).gsub(' ', '-') %>-collapse3" class="app-accordion">
                        <span class="glyphicon glyphicon-minus <%= (company.name).gsub(' ', '-') %>-glyphicon"></span> Length
                      </a>
                    </h4>
                  </div>
                  <div id="<%= (company.name).gsub(' ', '-') %>-collapse3" class="panel-collapse collapse  <%= (company.name).gsub(' ', '-') %>-collapse ">
                    <div class="panel-body">    
                      <%= company.length.html_safe %>
                    </div> 
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%= (company.name).gsub(' ', '-') %>-collapse4" class="app-accordion">
                        <span class="glyphicon glyphicon-minus <%= (company.name).gsub(' ', '-') %>-glyphicon"></span> Configuration
                      </a>
                    </h4>
                  </div>
                  <div id="<%= (company.name).gsub(' ', '-') %>-collapse4" class="panel-collapse collapse  <%= (company.name).gsub(' ', '-') %>-collapse ">
                    <div class="panel-body">    
                      <%= company.configuration.html_safe %>
                    </div> 
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%= (company.name).gsub(' ', '-') %>-collapse5" class="app-accordion">
                        <span class="glyphicon glyphicon-minus <%= (company.name).gsub(' ', '-') %>-glyphicon"></span> Certification
                      </a>
                    </h4>
                  </div>
                  <div id="<%= (company.name).gsub(' ', '-') %>-collapse5" class="panel-collapse collapse  <%= (company.name).gsub(' ', '-') %>-collapse ">
                    <div class="panel-body">    
                      <%= company.certification.html_safe %>
                    </div> 
                  </div>
                </div>	

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#<%= (company.name).gsub(' ', '-') %>-collapse6" class="app-accordion">
                        <span class="glyphicon glyphicon-minus <%= (company.name).gsub(' ', '-') %>-glyphicon"></span> Noted Customers
                      </a>
                    </h4>
                  </div>
                  <div id="<%= (company.name).gsub(' ', '-') %>-collapse6" class="panel-collapse collapse  <%= (company.name).gsub(' ', '-') %>-collapse ">
                    <div class="panel-body">    
                      <%= company.noted_customers.html_safe %>
                    </div> 
                  </div>
                </div>

              </div>
            </div> <!-- end panel-body  -->
          </div> <!-- end panel-default  --> 
        </div> <!-- end panel-<%= (company.name).gsub(' ', '-') %>  -->

        <% end %>

      </div> <!-- end row -->
    </div> <!-- end container  -->
    <!-- end Company display table  -->

<!--
<h1>Listing companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pricing information</th>
      <th>Subject matter comparison</th>
      <th>Length</th>
      <th>Configuration</th>
      <th>Certification</th>
      <th>Noted customers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= (company.name).gsub(' ', '-') %></td>
        <td><%= company.pricing_information %></td>
        <td><%= company.subject_matter_comparison %></td>
        <td><%= company.length %></td>
        <td><%= company.configuration %></td>
        <td><%= company.certification %></td>
        <td><%= company.noted_customers %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

-->

<script>
  $(function(){
  

    /* Set up page */
    <% @companies.each do |company| %>
      $('#panel-<%= (company.name).gsub(' ', '-') %>').hide();
    <% end %>

    $('.collapse').collapse({
      parent: true
    });  




    /* Page functions */
    <% @companies.each do |company| %>
        $('#inlineCheckbox-<%= (company.name).gsub(' ', '-') %>').click(function () {
          $('#panel-<%= (company.name).gsub(' ', '-') %>').toggle();
          columnCheck(); 
        });
    <% end %>

    <% @companies.each do |company| %>
      $('#<%= (company.name).gsub(' ', '-') %>-show').click(function () {
        $(".<%= (company.name).gsub(' ', '-') %>-collapse").collapse('show');
        // I am here
        $('#panel-<%= (company.name).gsub(' ', '-') %> .<%= (company.name).gsub(' ', '-') %>-glyphicon').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        // I am here 
      });      
    <% end %>

    <% @companies.each do |company| %>
      $('#<%= (company.name).gsub(' ', '-') %>-hide').click(function () {
        $(".<%= (company.name).gsub(' ', '-') %>-collapse").collapse('hide');

        // I am here starts here
        $('#panel-<%= (company.name).gsub(' ', '-') %> .<%= (company.name).gsub(' ', '-') %>-glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        // I am here ends here

      });      
    <% end %>

      function columnCheck() {
        if ($('div.company-info:visible').length >= 2) {
          // alert('2 or more');
          $('div.company-info').addClass('col-md-6').removeClass('col-md-12');
        } else {
          // alert('1 or less');
          $('div.company-info').removeClass('col-md-6').addClass('col-md-12');
        }
      }
 
      columnCheck();

    <% @companies.each do |company| %>
      $('#panel-<%= (company.name).gsub(' ', '-') %> span.glyphicon-remove-circle').click(function () {
        $('#inlineCheckbox-<%= (company.name).gsub(' ', '-') %>').trigger('click');
      });      
    <% end %>





    $('.app-accordion').click(function (){
      $(this).addClass('my-active'); 
      $('.my-active .glyphicon').toggleClass('glyphicon-plus glyphicon-minus')
      $(this).removeClass('my-active');  
    });


  // alert('loaded');

  
  });
</script>
