<div class="container">
<p id="notice"><%= notice %></p>

<h4 class="company-title"><%= @company.name %></h4>

<p>
  <div><strong>Pricing information</strong></div>
  <div><%= @company.pricing_information.html_safe %></div>
</p>

<p>
  <div><strong>Subject matter comparison</strong></div>
  <div><%= @company.subject_matter_comparison.html_safe %></div>
</p>

<p>
  <div><strong>Length</strong></div>
  <div><%= @company.length.html_safe %></div>
</p>

<p>
  <div><strong>Configuration</strong></div>
  <div><%= @company.configuration.html_safe %></div>
</p>

<p>
  <div><strong>Certification</strong></div>
  <div><%= @company.certification.html_safe %></div>
</p>

<p>
  <div><strong>Noted customers</strong></div>
  <div><%= @company.noted_customers.html_safe %></div>
</p>

</div>
